
/* TODO - cub normal */
/*
#parallelogram-1, 
#parallelogram-2,
#parallelogram-3, 
#parallelogram-4,
#parallelogram-5, 
#parallelogram-6, 
#parallelogram-7,
#parallelogram-8,
#parallelogram-9 {

    width: 22px;
    height: 50px;
    -webkit-transform: skew(0deg, 0deg);
       -moz-transform: skew(0deg, 0deg);
         -o-transform: skew(0deg, 0deg);
    background: green;
    margin: 2px 1px;
    border-radius: 5px; 
    float: left;
    
}

#square-orange-1,
#square-orange-2,
#square-orange-3,
#square-orange-4,
#square-orange-5,
#square-orange-6,
#square-orange-7,
#square-orange-8,
#square-orange-9 {

    width: 50px;
    height: 20px;
    background: orange;
    top: 0; 
    -webkit-transform: skew(0deg);
       -moz-transform: skew(0deg);
         -o-transform: skew(0deg);
    margin: 1px 2px; 
    border-radius: 5px; float: left;
    
}

#square-2, 
#square-3, 
#square-4, 
#square-5, 
#square-6, 
#square-7, 
#square-8, 
#square-9, 
#square-10 {
    width: 50px;
    height: 50px;
    background: red;
    float: left;
    border-radius: 5px;
    margin: 2px 2px;
    
}

.container_red {
    
    position: absolute;
    top: 67px;
    width: 162px; 
    height: 162px;
    border: 1px solid #fff; 
    background: #fff;
    border-radius: 5px;
    border-radius: 7px 7px 7px 7px;

}

.container_green {
    
    position: absolute;
    top: 32px; 
    left: 163px;
    width: 72px;
    height: 163px;
    border: 1px solid #fff;
    -webkit-transform: skew(0deg, -45deg);
       -moz-transform: skew(0deg, -45deg);
         -o-transform: skew(0deg, -45deg); 
         background: #fff;
         border-radius: 7px 9px 7px 9px;

}

.container_orange {
    
    position: relative;
    top: 0px; 
    left: 34px;
    width: 167px;
    height: 70px;
    border: 1px solid #fff;
    -webkit-transform: skew(135deg);
       -moz-transform: skew(135deg);
         -o-transform: skew(135deg); 
         background: #fff;
         border-radius: 7px 15px 10px 7px;

}

.container {
    
    position: relative;
    width: 238px; 
    height: 231px;
    border: 1px solid #fff;
    margin: 100px auto; 
    right: 0; left: 0;
    padding: 200px auto;
    /*background: silver;
    
}
*/


/* TODO - cub 3D */

#parallelogram-1, 
#parallelogram-2,
#parallelogram-3, 
#parallelogram-4,
#parallelogram-5, 
#parallelogram-6, 
#parallelogram-7,
#parallelogram-8,
#parallelogram-9 {

    width: 21px;
    height: 50px;
    -webkit-transform: skew(0deg, 0deg);
       -moz-transform: skew(0deg, 0deg);
         -o-transform: skew(0deg, 0deg);
    background: green;
    margin: 2px 1px;
    border-radius: 5px; 
    float: left;
    
}

#square-orange-1,
#square-orange-2,
#square-orange-3,
#square-orange-4,
#square-orange-5,
#square-orange-6,
#square-orange-7,
#square-orange-8,
#square-orange-9 {

    width: 50px;
    height: 20px;
    background: orange;
    top: 0; 
    -webkit-transform: skew(0deg);
       -moz-transform: skew(0deg);
         -o-transform: skew(0deg);
    margin: 1px 2px; 
    border-radius: 5px; float: left;
    
}

#square-2, 
#square-3, 
#square-4, 
#square-5, 
#square-6, 
#square-7, 
#square-8, 
#square-9, 
#square-10 {
    width: 50px;
    height: 50px;
    background: red;
    float: left;
    border-radius: 5px;
    margin: 2px 2px;
    
}

.container_red {
    
    position: absolute;
    top: 67px;
    width: 162px; 
    height: 162px;
    border: 1px solid #fff; 
    background: #fff;
    border-radius: 5px;
    border-radius: 7px 7px 7px 7px;

}

.container_green {
    
    position: absolute;
    top: 33px; 
    left: 163px;
    width: 69px;
    height: 163px;
    border: 1px solid #fff;
    -webkit-transform: skew(0deg, -45deg);
       -moz-transform: skew(0deg, -45deg);
         -o-transform: skew(0deg, -45deg); 
         background: #fff;
         border-radius: 7px 12px 7px 9px;

}

.container_orange {
    
    position: relative;
    top: 0px; 
    left: 34px;
    width: 167px;
    height: 70px;
    border: 1px solid #fff;
    -webkit-transform: skew(135deg);
       -moz-transform: skew(135deg);
         -o-transform: skew(135deg); 
         background: #fff;
         border-radius: 7px 15px 10px 7px;

}

.container {
    
    /*position: relative;*/
    width: 238px; 
    height: 231px;
    /*border: 1px solid #fff; /* gray; */
    margin: 100px auto; 
    right: 0; left: 0;
    padding: 200px auto;
    
    transform: rotate(35deg);
    
    /*background: gray;*/
    
}


body {

    /*background: gray;*/
     background: #cfcfcf;

}

h1 {
  color: blue;
}


/* TODO - cub 3D */
/*
#parallelogram-1, 
#parallelogram-2,
#parallelogram-3, 
#parallelogram-4,
#parallelogram-5, 
#parallelogram-6, 
#parallelogram-7,
#parallelogram-8,
#parallelogram-9 {

    width: 40px;
    height: 40px;
    -webkit-transform: skew(0deg, 0deg);
       -moz-transform: skew(0deg, 0deg);
         -o-transform: skew(0deg, 0deg);
    background: green;
    margin: 2px 1px;
    border-radius: 5px; 
    float: left;
    
}

#square-orange-1,
#square-orange-2,
#square-orange-3,
#square-orange-4,
#square-orange-5,
#square-orange-6,
#square-orange-7,
#square-orange-8,
#square-orange-9 {

    width: 50px;
    height: 39px;
    background: orange;
    top: 0; 
    -webkit-transform: skew(0deg);
       -moz-transform: skew(0deg);
         -o-transform: skew(0deg);
    margin: 1px 2px; 
    border-radius: 5px; float: left;
    
}

#square-2, 
#square-3, 
#square-4, 
#square-5, 
#square-6, 
#square-7, 
#square-8, 
#square-9, 
#square-10 {
    width: 50px;
    height: 40px;
    background: red;
    float: left;
    border-radius: 5px;
    margin: 2px 2px;
    
}

.container_red {
    
    position: absolute;
    top: 67px;
    width: 162px; 
    height: 162px;
    border: 1px solid #fff; 
    background: #fff;
    border-radius: 5px;
    border-radius: 7px 7px 7px 7px;

}

.container_green {
    
    position: absolute;
    top: -9px; 
    left: 163px;
    width: 150px;
    height: 163px;
    border: 1px solid #fff;
    -webkit-transform: skew(0deg, -45deg);
       -moz-transform: skew(0deg, -45deg);
         -o-transform: skew(0deg, -45deg); 
         background: #fff;
         border-radius: 7px 9px 7px 9px;

}

.container_orange {
    
    position: relative;
    top: -56px; 
    left: 88px;
    width: 167px;
    height: 70px;
    border: 1px solid #fff;
    -webkit-transform: skew(135deg);
       -moz-transform: skew(135deg);
         -o-transform: skew(135deg); 
         background: #fff;
         border-radius: 7px 15px 10px 7px;

}



.container {
    
    position: relative;
    width: 238px; 
    height: 231px;
    border: 1px solid #fff;
    margin: 100px auto; 
    right: 0; left: 0;
    padding: 200px auto;
    
    transform: skewX(25deg);     
    
}
*/

/* 3D - https://www.w3schools.com/cssref/css3_pr_transform.asp - смотреть демо примеры */







